# Created by .ignore support plugin (hsz.mobi)
Würde .idea/codeStyles/ löschen
Würde .idea/libraries/Maven__commons_io_commons_io_2_8_0.xml löschen
Würde null/ löschen
Würde src/main/java/META-INF/ löschen
Würde src/main/resources/ löschen
Würde src/test/ löschen
Würde target/ löschen
